﻿
@{
    ViewBag.Title = "Create";
    Styles.Render("~/Content/Site.css");
}

<h2>Add student</h2>
<form action="/Student/Create" method="post" class="create-form">
    <div class="form-group">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="FirstName" required>
    </div>
    <div class="form-group">
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" name="LastName" required>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" required>
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone number:</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" required>
    </div>

    <div class="form-group">
        <label for="BirthDate">Birth date: <span>(e.g. MM/DD/YYYY)</span></label>
        <input type="text" id="BirthDate" name="BirthDate" required>
    </div>
    <div class="form-group">
        <label for="AdmissionDate">Admission date: <span>(e.g. MM/DD/YYYY)</span></label>
        <input type="text" id="AdmissionDate" name="AdmissionDate" required>
    </div>
    <div class="form-group">
        <label for="FacultyName">Faculty name:</label>
        <input type="text" id="FacultyName" name="FacultyName" required>
    </div>
    <div class="form-group">
        <label for="SpecialtyNumber">Specialty number:</label>
        <input type="text" id="SpecialtyNumber" name="SpecialtyNumber" required>
    </div>
    <div class="btn-list">
        <a type="button" class="btn btn-default" href="/Student/Index">Close</a>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>