﻿
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Student</h2>
<div></div>
<form action="/Student/Edit" method="post" class="create-form">
    <input type="text" value="@ViewBag.id" name="id" class="hidden">
    <div class="form-group">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="FirstName" value="@Model.FirstName" required>
    </div>
    <div class="form-group">
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" name="LastName" value="@Model.LastName" required>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" value="@Model.Email" required>
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone number:</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required>
    </div>

    <div class="form-group">
        <label for="BirthDate">Birth date: <span>(e.g. MM/DD/YYYY)</span></label>
        <input type="text" id="BirthDate" name="BirthDate" value="@Model.BirthDate.ToString("MM/dd/yyyy")" required>
    </div>
    <div class="form-group">
        <label for="AdmissionDate">Admission date: <span>(e.g. MM/DD/YYYY)</span></label>
        <input type="text" id="AdmissionDate" name="AdmissionDate" value="@Model.AdmissionDate.ToString("MM/dd/yyyy")" required>
    </div>
    <div class="form-group">
        <label for="FacultyName">Faculty name:</label>
        <input type="text" id="FacultyName" name="FacultyName" value="@Model.FacultyName" required>
    </div>
    <div class="form-group">
        <label for="SpecialtyNumber">Specialty number:</label>
        <input type="text" id="SpecialtyNumber" name="SpecialtyNumber" value="@Model.SpecialtyNumber" required>
    </div>
    <div class="btn-list">
        <a type="button" class="btn btn-default" href="/Student/Index">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
