﻿
@{
    ViewBag.Title = "Students";
}
<div class="studentsPage">
    <h2>Students list</h2>
    <div class="btn-list">
        <a type="button" href="/Student/create" class="btn btn-primary text-white">Add student</a>
        <button class="btn btn-warning" data-toggle="modal" data-target="#GetIdModal">Edit Student</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Delete Student</button>
    </div>
    <table class="table text-center table-hover table-striped">
        <thead class="thead-dark">
            <tr class="table-header-dark">
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>

                <th scope="col">Age</th>
                <th scope="col">Group name</th>
                <th scope="col">Semester No</th>
                <th scope="col">Course No</th>

            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var student in @Model)
                {
                        <tr class="table-row">
                            <td>@i</td>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>@student.Email</td>
                            <td>@student.PhoneNumber</td>

                            <td>@student.GetCurrentAge</td>
                            <td>@student.GetGroupName</td>
                            <td>@student.GetSemesterNo</td>
                            <td>@student.GetCourseNo</td>
                        </tr>
                    i++;
                }
            }
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="GetIdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="get" action="/Student/Edit">
                    <div class="modal-body form-add-student">
                        <div class="form-group">
                            <label for="id">Input Student id: </label>
                            <input type="text" id="id" name="id" required>
                        </div>
                    </div>
                    <div class="modal-footer justify-btn">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="DeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content DeleteModalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/Student/Delete">
                    <div class="modal-body form-add-student">
                        <div class="form-group">
                            <label for="id">Input Student id: </label>
                            <input type="text" id="id" name="id" required>
                        </div>
                    </div>
                    <div class="modal-footer justify-btn">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
