﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(90deg, wheat, #daeefd);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-card {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    border-radius: 20px;
}
.table-header-dark {
    background: black;
    color: white;
}

.table-header-dark th {
    text-align: center;
}
.table-row {
    background: rgba(255, 255, 255, 0.5);
}
.btn-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 5px auto;
}
.create-form{
    width: 60%;
    margin:auto;
}
.form-group {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid midnightblue;
}

.justify-btn {
    display: flex;
    justify-content: space-between;
}