﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title me.</h2>

<p style="font-size: medium;">
    Hello my name is: Ayoub El-Hhaddadi <br />
    I am a Khariv polytechnic intitute student "KIT 119i.e" group <br/>
    You can reach me using: <br /><br />
    Email: ayoub1998elh@gmail.com <br/>
    <a href="https://www.linkedin.com/in/ayoub-el-haddadi-590b99219/">LinkedIn</a><br />
    Phone number: +380955072544 <br />
</p>
