﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-card" style="border-radius: 20px;">
    <h1>Students website</h1>
    <p class="lead">This is a web site for managing a list and allow you to create, read, edit and delete student informations </p>
    <p><a href="/Student" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

<div class="row">
    <h2>By:  Ayoub El-Haddadi (CIT 119 i.e)</h2>
</div>